<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Capstone</title>
    </head>
    <body>
        <div class="app">
            <header class ="headline">
                Capstone - Travelling App
            </header>
            <main>
                <div class ="city">
                    <label for="city">Enter City here</label>
                    <input type="text" id="city" placeholder="enter travelling location here">
                  </div>
            </main>
            <footer>Footer</footer>
        </div>
    </body>
</html>