<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Capstone</title>
    </head>
    <body>
        <div class="app">
            <header class ="headline">
                Capstone - Traveling App
            </header>
            <main>
                <div class ="city">
                    <label for="city">Enter city here</label>
                    <input type="text" id="city" placeholder="enter traveling location here">
                </div>
                <div class ="date">
                    <label for="date">Enter traveling date here</label>
                    <input type="date" id="date" >
                </div>
                <button id="travelInfoButton" type="submit"> Let's get ready to travel </button>
            </main>
            <footer>Footer</footer>
        </div>
    </body>
</html>