body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.app{
    display: grid;
    grid-template-rows: 15% auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header" 
    "input" 
    "result";
    height: 100vh;
    width: 100vw;
    background: #B3E0F2;
    color: #F26716;
    justify-content: center;
    grid-gap: 1em;
    font-size: 28px;
    font-family: 'Lucida Sans', sans-serif;

    header {
        grid-area: header;
    }

    .headline {
        font-size: 60px;
        margin: auto;
    }

    main {
        .inputSection{
            grid-area: input;
            padding-left: 50px;
        }
        
        label{
            display:block;
            font-size: 36px;
            margin-bottom: 5px;
        }

        input{
            display:block;
            height: 80px;
            width: 400px;
            background:#D3D936;
            border-radius: 25px;
            color: #556879;
            font-size: 30px;
            border: none;
            padding: 0 10px;
            margin-bottom: 10px;

            &::placeholder {  
                color: #556879; 
            }

            &:hover {
                background-color: #556879;
                color: #D3D936;

                &::placeholder {  
                    color: #D3D936; 
                }
            }

            &:focus {
                outline: none;
                background-color: #556879;
                color: #D3D936; 
            }
        }

        button{
            width: 400px;
            height: 100px;
            background: #F26716;
            border-radius: 25px;
            color: #F2D230;
            font-size: 32px;
            border: none;
            box-shadow: 2px 4px 5px #444;
            margin-top: 20px;
        
            &:hover {
                background-color: #F2A71B;
                color: #556879;
            }
        
            &:visited {
                background-color: #F2A71B;
                color: #556879;
            }

            &:focus {
                outline: none;
            }
        }

        .resultSection{
            grid-area: result;
            margin-top: 20px;
            padding-left: 50px;
        }

        .result{
            display: none;

            .title{
                font-size: 36px;
            }

            #image{
                padding-left: 50px;
            }
        }

        .error{
            display: none; 
            position: relative;
            z-index: 1; 
            margin: auto;
            width: 80%; 
            padding: 20px;
            background-color: #3b4a6b; 
            border: 1px solid #F0E4E4;
            color: #F0E4E4;
        }
        
        .error-content{
            border: 4px solid #990003; 
            padding: 20px;
        }
    }
}

footer {
    text-align: center;
    color: #F26716;
    font-size: 20px;
}

@media(min-width: 992px) {
    .app{
        display: grid;
        grid-template-rows: 25% auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header" 
        "input" 
        "result";
        height: 100vh;
        width: 100vw;
        background: #B3E0F2;
        color: #F26716;
        justify-content: center;
        grid-gap: 1em;
        font-size: 20px;
        font-family: 'Lucida Sans', sans-serif;
    
        header {
            grid-area: header;
        }
    
        .headline {
            font-size: 40px;
            margin: auto;
        }
    
        main {
            .inputSection{
                grid-area: input;
                padding-left: 50px;
            }
            
            label{
                display:block;
                font-size: 27px;
                margin-bottom: 5px;
            }
    
            input{
                display:block;
                height: 60px;
                width: 320px;
                background:#D3D936;
                border-radius: 25px;
                color: #556879;
                font-size: 20px;
                border: none;
                padding: 0 10px;
                margin-bottom: 10px;
    
                &::placeholder {  
                    color: #556879; 
                }
    
                &:hover {
                    background-color: #556879;
                    color: #D3D936;
    
                    &::placeholder {  
                        color: #D3D936; 
                    }
                }
    
                &:focus {
                    outline: none;
                    background-color: #556879;
                    color: #D3D936; 
                }
            }
    
            button{
                width: 300px;
                height: 100px;
                background: #F26716;
                border-radius: 25px;
                color: #F2D230;
                font-size: 26px;
                border: none;
                box-shadow: 2px 4px 5px #444;
                margin-top: 20px;
            
                &:hover {
                    background-color: #F2A71B;
                    color: #556879;
                }
            
                &:visited {
                    background-color: #F2A71B;
                    color: #556879;
                }
    
                &:focus {
                    outline: none;
                }
            }
    
            .resultSection{
                grid-area: result;
                margin-top: 20px;
                padding-left: 50px;
            }
    
            .result{
                display: none;
    
                .title{
                    font-size: 28px;
                }
    
                #image{
                    padding-left: 50px;
                }
            }
    
            .error{
                display: none; 
                position: relative;
                z-index: 1; 
                margin: auto;
                width: 80%; 
                padding: 20px;
                background-color: #3b4a6b; 
                border: 1px solid #F0E4E4;
                color: #F0E4E4;
            }
            
            .error-content{
                border: 4px solid #990003; 
                padding: 20px;
            }
        }
    }
}
